@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #3f3f43;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Noto Sans", "Dotum", "돋움", sans-serif;
    box-sizing: border-box;
    font-size: 60%;
}

body {
    letter-spacing: -0.07rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,s
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li,
ul {
    list-style: none;
}


/* ================================================================== */

.container {
    width: 600px;
    min-height: 300px;
    height: auto;
}

.box {
    margin: 2.5rem 0;
}

.logo {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-family: 'Playfair Display', serif;
}

.text-main {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.text-bold {
    font-size: 1.7rem;
    font-weight: 600;
}

.text-mini {
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
}

.paragraph {
    font-size: 2rem;
    font-weight: 300;
}



@media (max-width: 640px) {

    .container {
        width: 80%;
        margin: 0 auto;
    }


    .box {
        margin: 1rem 0;
    }

    .logo {
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        font-family: 'Playfair Display', serif;
    }

    .text-main {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .text-bold {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .text-mini {
        font-size: 1.3rem;
        font-weight: 300;
        letter-spacing: 0.05rem;
        margin-bottom: 1rem;
    }

    .paragraph {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.6rem;
    }

}
